* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  background-color: #161513;
  color: white;
  font-family: 'Outfit', sans-serif;
  font-weight: 400;
  line-height: 1.6;
  scroll-behavior: smooth;
}


body::-webkit-scrollbar {
  width: 8px;
}

body::-webkit-scrollbar-thumb {
  background-color: #555;
  border-radius: 10px;
}

body::-webkit-scrollbar-track {
  background: transparent;
}

.app-container {
  overflow-x: hidden;
}
